################################################################################
#  .gitignore
################################################################################

*.user
/.vs

/publish/any-sdk
/src/.vs/AfxDotNetCoreSample
/src/AfxDotNetCoreSample.Cache/bin
/src/AfxDotNetCoreSample.Cache/obj
/src/AfxDotNetCoreSample.Common/bin
/src/AfxDotNetCoreSample.Common/obj
/src/AfxDotNetCoreSample.Controllers/bin
/src/AfxDotNetCoreSample.Controllers/obj
/src/AfxDotNetCoreSample.Dto/bin
/src/AfxDotNetCoreSample.Dto/obj
/src/AfxDotNetCoreSample.Enums/bin
/src/AfxDotNetCoreSample.Enums/obj
/src/AfxDotNetCoreSample.ICache/bin
/src/AfxDotNetCoreSample.ICache/obj
/src/AfxDotNetCoreSample.IRepository/bin
/src/AfxDotNetCoreSample.IRepository/obj
/src/AfxDotNetCoreSample.IService/bin
/src/AfxDotNetCoreSample.IService/obj
/src/AfxDotNetCoreSample.Models/bin
/src/AfxDotNetCoreSample.Models/obj
/src/AfxDotNetCoreSample.Repository/bin
/src/AfxDotNetCoreSample.Repository/obj
/src/AfxDotNetCoreSample.Service/bin
/src/AfxDotNetCoreSample.Service/obj
/src/AfxDotNetCoreSample.Web/bin
/src/AfxDotNetCoreSample.Web/obj
