################################################################################
#  .gitignore
################################################################################

*.user
.vs
/publish
/src/AfxDotNetCoreSample.Web/webfiles
bin
obj
