################################################################################
#  .gitignore
################################################################################

*.user
.vs
/publish
bin
obj
log
logs

