<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>log</title>
    <meta charset="utf-8" />
    <script src="js/jquery.min-1.11.3.js"></script>
    <script src="js/vue.min.js"></script>
    <script type="text/javascript">
        function getUrlParam(name, url) {
            url = url || window.location.search;
            var i = url.indexOf('?');
            if (i >= 0) {
                var s = url.substring(i + 1);
                if (s) {
                    var arr = s.split('&');
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i]) {
                            var kv = arr[i].split('=');
                            if (kv[0] == name) {
                                return decodeURI(kv[1]);
                            }
                        }
                    }
                }
            }

            return null;
        }

        $(document).ready(function () {
            var key = getUrlParam('key');

            var main = new Vue({
                el: '#main',
                data: {
                    Key: key,
                    Show: false,
                    SearchParam: {
                        PageIndex: 1,
                        PageSize: 20,
                        BeginTime: '',
                        EndTime: '',
                        _beginTime: '',
                        _endTime: ''
                    },
                    PageData: {
                        TotalPage: 1,
                        TotalCount: 100,
                        Data: [{ Name: '2018.log', Size: '1024kb', UpdateTime: '2018-06-01', CreateTime: '2018-06-01' }]
                    },
                    DelParam: {
                        BeginTime: '',
                        EndTime: '',
                    },
                    LogLevel: 'ALL'
                },
                methods: {
                    searchData: function () {
                        this.SearchParam.PageIndex = 1;
                        this.SearchParam.BeginTime = this.SearchParam._beginTime;
                        this.SearchParam.EndTime = this.SearchParam._endTime;
                        getData();
                    },
                    getFirstPage: function () {
                        this.SearchParam.PageIndex = 1;
                        getData();
                    },
                    getPrevPage: function () {
                        if (this.SearchParam.PageIndex > 1) {
                            this.SearchParam.PageIndex = this.SearchParam.PageIndex - 1;
                            getData();
                        }
                    },
                    getNextPage: function () {
                        if (this.SearchParam.PageIndex < this.PageData.TotalPage) {
                            this.SearchParam.PageIndex = this.SearchParam.PageIndex + 1;
                            getData();
                        }
                    },
                    del: function (file) {
                        $.ajax({
                            type: 'post',
                            url: 'Log/Del',
                            global: false,
                            async: true,
                            cache: false,
                            headers: { key: this.Key },
                            data: { Name: file},
                            success: function (data) {
                                if (data && data.Status == 0) {
                                    if (main.SearchParam.PageIndex > 1
                                        && main.SearchParam.PageIndex == main.PageData.TotalPage
                                        && main.TotalPage == (main.SearchParam.PageSize * (main.PageIndex - 1)) + 1) {
                                        main.SearchParam.PageIndex = 1;
                                    }
                                    getData();
                                }
                                else {
                                    alert(data.Msg);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('status: ' + textStatus + ', msg: ' + errorThrown);
                            }
                        });
                    },
                    delAll: function () {
                        $.ajax({
                            type: 'post',
                            url: 'Log/DelAll',
                            global: false,
                            async: true,
                            cache: false,
                            headers: { key: this.Key },
                            data: this.DelParam,
                            success: function (data) {
                                if (data && data.Status == 0) {
                                    main.SearchParam.PageIndex = 1;
                                    getData();
                                }
                                else {
                                    alert(data.Msg);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('status: ' + textStatus + ', msg: ' + errorThrown);
                            }
                        });
                    },
                    setLevel: function () {
                        $.ajax({
                            type: 'get',
                            url: 'Log/SetLevel',
                            global: false,
                            async: true,
                            cache: false,
                            headers: { key: this.Key },
                            data: { level: this.LogLevel },
                            success: function (data) {
                                if (data && data.Status == 0 && data.Data) {
                                    alert('设置成功！');
                                }
                                else {
                                    alert(data.Msg || '设置失败！');
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('status: ' + textStatus + ', msg: ' + errorThrown);
                            }
                        });
                    }
                }
            });
            
            function getData() {
                $.ajax({
                    type: 'post',
                    url: 'Log/GetPageList',
                    global: false,
                    async: true,
                    cache: false,
                    headers: { key: main.Key },
                    data: main.SearchParam,
                    success: function (data) {
                        if (data && data.Status == 0) {
                            var page = data.Data.TotalCount > 0 ? Math.ceil(data.Data.TotalCount / main.SearchParam.PageSize) : 1;
                            if (page == 0) page = 1;
                            if (main.SearchParam.PageIndex > page) main.SearchParam.PageIndex = page;
                            main.PageData.TotalPage = page;
                            main.PageData.Data = data.Data.Data;
                            main.PageData.TotalCount = data.Data.TotalCount;
                        }
                        else {
                            alert(data.Msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('status: ' + textStatus + ', msg: ' + errorThrown);
                    }
                });
            }
            
            function getLevel() {
                $.ajax({
                    type: 'get',
                    url: 'Log/GetLevel',
                    global: false,
                    async: true,
                    cache: false,
                    headers: { key: main.Key },
                    data: {},
                    success: function (data) {
                        if (data && data.Status == 0) {
                            main.LogLevel = data.Data;
                        }
                        else {
                            alert(data.Msg || '获取日志级别失败！');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('status: ' + textStatus + ', msg: ' + errorThrown);
                    }
                });
            }

            if (key) {
                $.ajax({
                    type: 'get',
                    url: 'Log/Check',
                    global: false,
                    async: true,
                    cache: false,
                    headers: { key: main.Key },
                    data: { },
                    success: function (data) {
                        if (data && data.Status == 0 && data.Data) {
                            main.Show = true;
                            getData();
                            getLevel();
                        }
                        else {
                            alert(data.Msg || "key不正确！");
                        }
                    }
                });
            }
            else {
                alert('请输入key!');
            }
        });
    </script>
</head>
<body>
    <div id="main" style="width:100%;height:100%;margin:0;padding:0" v-show="Show">
        <div style="margin-top:10px">
            <label for="date">创建时间:</label>
            <input type="text" v-model="SearchParam._beginTime" style="width:180px;margin-left:10px;margin-right:5px" />
            -
            <input type="text" v-model="SearchParam._endTime" style="width:180px;margin-left:5px;margin-right:10px" />
            <input type="button" v-on:click="searchData()" value="搜 索" style="width:100px" />
        </div>
        <table style="margin-top:10px">
            <thead>
                <tr>
                    <td style="width:300px">名称</td>
                    <td style="width:200px">大小</td>
                    <td style="width:200px">修改时间</td>
                    <td style="width:200px">创建时间</td>
                    <td style="width:200px">操作</td>
                </tr>
            </thead>
            <tbody>
                <template v-for="m in PageData.Data">
                    <tr>
                        <td><a target="_blank" v-bind:href="'Log/Open?file='+m.Name+'&key='+Key">{{m.Name}}</a></td>
                        <td>{{m.Size}}</td>
                        <td>{{m.UpdateTime}}</td>
                        <td>{{m.CreateTime}}</td>
                        <td><a href="#" v-on:click="del(m.Name)">删除</a></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div style="margin-top:10px">
            <input type="button" value="首 页" style="width:100px" v-on:click="getFirstPage()" />
            <input type="button" value="上一页" style="width:100px;margin-left:10px" v-on:click="getPrevPage()"/>
            <input type="button" value="下一页" style="width:100px;margin-left:10px" v-on:click="getNextPage()" />
            <span style="margin-left:10px">页：{{SearchParam.PageIndex}}/{{PageData.TotalPage}}</span> <span style="margin-left:10px">总记录：{{PageData.TotalCount}}</span>
        </div>
        <div style="margin-top:10px">
            <label for="date">设置级别:</label>
            <input type="text" v-model="LogLevel" style="width:180px;margin-left:10px;margin-right:10px" />
            <input type="button" value="设 置" v-on:click="setLevel()" style="width:100px" />
        </div>
        <div style="margin-top:10px">
            <label for="date">删除 (创建时间):</label>
            <input type="text" v-model="DelParam.BeginTime" style="width:180px;margin-left:10px;margin-right:5px" />
            -
            <input type="text" v-model="DelParam.EndTime" style="width:180px;margin-left:5px;margin-right:10px" />
            <input type="button" v-on:click="delAll()" value="删 除" style="width:100px" />
        </div>
    </div>
</body>
</html>
